.lang{
    width:220px;
    height: fit-content;
    margin: 8px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.title{
    padding-left: 2px;
}

.h2{
    text-align: start;
}

.btn{
    span{
        svg{
            color: transparent !important;
            transition: 0.5s ;
        }
    }

    &:hover{
        span{
            svg{
            color: #a7b6c2 !important;
            }
        }
    }
}
.group{
    width: 200px;
}

