$inner-pad:5px;

.note{
    display: grid;
    grid-template-areas:    
    "title title"
    "div div"
    "desc code";
    grid-template-rows: 40px auto;
    grid-template-columns: 1fr 1fr;
    grid-gap: $inner-pad;
    padding: 10px;
    margin: 10px;
}

.title{
    grid-area: title;
    align-items: center;
    display: flex;
    padding: $inner-pad;
}

.divider{
    grid-area: div;
    margin: 0;
}

.desc{
    grid-area: desc;
    height: 200px; 
    overflow-y: auto;
    word-wrap: break-word;
    padding: $inner-pad;
    padding-left: 15px;
    padding-right: 15px;
}
.code{
    grid-area: code;    
    height: auto;
    word-wrap: break-word;
    padding: $inner-pad;

}