@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;500;600;700;800;900&display=swap');
@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
$p:rgb(28,145,254);
$s:rgb(233, 247, 255);
$pt-intent-primary: blue;

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;

}


html{
  font-family: 'Inter', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  font-family: 'Inter',sans-serif;
  outline: none !important;
}
h2, h3, h4, h5, h6 {
  margin: 0px;
}
h3{
  font-weight:600;
}
.navbar{
  background-color: $p !important;
}
.h-full{
  height: 100%;

}
.w-full{
  width: 100%;

}

.pad-0{
  padding: 0;
}
.pad{
  padding: 10px;
}

.pad-1{
  padding-left: 16vw;
  padding-right: 16vw;
}

.pad-tb{
  padding-top: 8vh;
  padding-bottom: 8vh;
}
.mar-0{
  margin: 0;
}
.mar-1{
  margin: 10px;
}
.mar-t{
  margin-top: 10px;
}
.container{
  height: calc(100% - 50px);
  overflow-y: auto;
}
#__next{
  height: 100%;
  width: 100%;
}
.center{
  justify-items: center;
  align-items: center;
  justify-content: center;
}

.flex{
  display: flex;
}


.flex-row{
  flex-direction: row;
}
.flex-col{
  flex-direction: column;
}
.bp3-dark{
  background-color: #182026 !important;
  .divider{
    border-color: #F5F8FA;
  }
}

.add-btn{
  height: 20px;
  width: 210px;
}
.langs{
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit,210px);
  grid-auto-rows:auto;  
  gap: 20px;
}

.add{
  height: calc(100vh - 50px);
  width: 100vw;
  position: absolute;
  top: 50px;
  left:0px;
  z-index: 10;
  background-color: rgba(24, 32, 38,0.8);
}






